.nx-server-host-create .nx-steps-container .tab {
    min-height: 260px;
}

.nx-server-host-create .nx-total-container .nx-price {
	color: red;
	font-size: 16px;
}

.nx-server-host-create .nx-range {
	display: inline-block;
	width: 350px;
}

.nx-server-host-create .nx-range-slider {
	display: inline-block;
	width: 300px;
}
.nx-server-host-create .nx-input input {
	width: 50px!important;
}