<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%- webpackConfig.metadata.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- webpackConfig.metadata.baseUrl %>">
    <link rel="shortcut icon" href="https://x.newtouchwork.com/images/logo16px.png">
    <!-- imported CSS are concatenated and added automatically -->
</head>

<body>
    <div class="ui active inverted dimmer">
        <div class="nx-start ui massive text loader"></div>
    </div>
    <% if (webpackConfig.metadata.ENV === 'development') { %>
        <!-- Webpack Dev Server reload -->
        <script src="/webpack-dev-server.js"></script>
        <% } %>
</body>

</html>
