html,
body {
    margin: 0;
    font-size: 12px!important;
}

.nx-start.ui.massive.loader:after,
.nx-start.ui.massive.loader:before {
    width: 5rem;
    height: 5rem;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

@media print {
    .page-host {
        position: absolute;
        left: 10px;
        right: 0;
        top: 50px;
        bottom: 0;
        overflow-y: inherit;
        overflow-x: inherit;
    }
}
