/* TODO 有些不再使用的样式(左侧菜单栏布局)需要删除 */

.nx-left-sidebar-menu.ui.sidebar {
    top: 47px;
}

.ui.top.fixed.menu {
    padding-left: 180px;
}

.pusher {
    padding-top: 47px;
    /*padding-right: 260px;*/
    padding-left: 180px;
}

.nx-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    z-index: 101;
    font-size: 1.2em;
    display: block;
    height: 47px;
    color: white;
    background-color: #383534;
    /* background-color: rgba(76, 57, 57, 0.66); */
}

.nx-left-sidebar-menu-labeled-icon .nx-logo {
    width: 78px;
    text-align: center;
}

.nx-logo img {
    height: 47px;
}

.nx-logo span {
    position: absolute;
    top: 15px;
    left: 65px;
}

.nx-body {
    overflow: hidden;
}

.nx-left-sidebar-menu .nx-dd-region {
    z-index: 1;
}

.nx-left-sidebar-menu.ui.vertical.sidebar.labeled.icon.menu {
    width: 78px;
}

.nx-left-sidebar-menu .nx-dd-region .dropdown.icon {
    content: "\f0d7"!important;
}

.nx-left-sidebar-menu .nx-dd-region .marker.icon {
    float: none!important;
}

.nx-left-sidebar-menu .nx-dd-region .dropdown.icon:before {
    content: "\f0d7"!important;
}

.nx-left-sidebar-menu .nx-dd-region .menu {
    left: 0!important;
    width: 180px!important;
    top: 40px!important;
}

.nx-left-sidebar-menu.ui.vertical.menu .dropdown.item .menu {
    top: 35px!important;
}

.nx-ad-menu.ui.accordion .dropdown.icon {
    float: right;
    margin-right: 14px;
}

.nx-ad-menu.ui.accordion .title {
    padding-left: 20px;
}

.nx-ad-menu.ui.accordion > .content > .item {
    padding-left: 30px!important;
}

.nx-dd-region .marker.icon {
    margin-left: 0!important;
}

.nx-left-sidebar-menu.ui.vertical.menu .item>i.icon.nx-icon {
    float: none;
}

.nx-left-sidebar-menu .item.nx-header {
    color: #655d5d!important;
}

.ui.vertical.menu .nx-no-border.item:before {
    height: 0;
}

.nx-left-sidebar-menu-labeled-icon .nx-logo span {
    display: none;
}

.nx-left-sidebar-menu-labeled-icon .nx-wide-item,
.nx-left-sidebar-menu-labeled-icon .nx-dd-region,
.nx-left-sidebar-menu-labeled-icon .nx-ad-menu {
    display: none!important;
}

.nx-top-fixed-menu .nx-menu-toggle .indent.icon {
    display: none;
}

.nx-top-fixed-menu .nx-menu-toggle .outdent.icon {
    display: block;
}

.nx-left-sidebar-menu-labeled-icon .nx-top-fixed-menu .nx-menu-toggle .indent.icon {
    display: block;
}

.nx-left-sidebar-menu-labeled-icon .nx-top-fixed-menu .nx-menu-toggle .outdent.icon {
    display: none;
}

.ui.vertical.menu .item.nx-labeled-icon-item {
    display: none;
}

.nx-left-sidebar-menu-labeled-icon .ui.vertical.menu .item.nx-labeled-icon-item {
    display: block;
}

.nx-left-sidebar-menu-labeled-icon .ui.vertical.menu .item span {
    display: none;
}

.nx-left-sidebar-menu-labeled-icon .ui.top.fixed.menu {
    padding-left: 77px;
}

.nx-left-sidebar-menu-labeled-icon .pusher {
    padding-top: 47px;
    padding-left: 77px;
}

.nx-left-sidebar-menu-labeled-icon .nx-left-sidebar-menu .item:hover .nx-second-menu {
    // display: block!important;
    display: block;
}

.nx-left-sidebar-menu-labeled-icon .nx-left-sidebar-menu .item:hover .nx-second-menu.hidden {
    display: none!important;
}

.nx-left-sidebar-menu-labeled-icon .nx-left-sidebar-menu.ui.sidebar {
    overflow-y: visible!important;
}

.nx-left-sidebar-menu .nx-second-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 77px;
}

.nx-second-menu .ui.menu {
    border-radius: 0;
}

.nx-second-menu .ui.menu .item .circle.icon {
    position: absolute;
    left: 25px;
}

.ui.labeled.icon.menu .nx-second-menu .item>.icon:not(.dropdown) {
    font-size: .75rem!important;
}

.ui.icon.menu .nx-second-menu .item {
    text-align: left;
    padding-left: 45px;
    font-size: 1.2em;
}

.ui.visible.inverted.vertical.sidebar.menu.nx-left-sidebar-menu {
    font-size: 1.2em;
}

.ui.visible.inverted.vertical.sidebar.menu.nx-left-sidebar-menu .nx-no-border i.nx-icon {
    margin-left: 4px;
    margin-right: 2px;
}

.nx-left-sidebar-menu-labeled-icon .ui.visible.inverted.vertical.sidebar.menu.nx-left-sidebar-menu {
    font-size: 1em;
}

.nx-top-fixed-menu .nx-pp-msg .nx-container {
    width: 366px;
}

.nx-top-fixed-menu .nx-pp-msg {
    border-radius: 0;
}

.nx-top-fixed-menu .nx-pp-msg .nx-header {
    margin-bottom: 10px;
}

.nx-top-fixed-menu .nx-pp-msg .nx-header .nx-link-more {
    float: right;
}

a.floating.ui.yellow.empty.circular.label.nx-floating-lbl {
    padding: 3px!important;
    top: -3px;
    right: -8px;
    left: auto;
}

.nx-history {
    position: fixed;
    top: 47px;
    right: 0;
    width: 280px;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    padding: 10px;
    border-left: lightgray 1px solid;
    padding-bottom: 47px;
    display: none;
}

.nx-history .nx-header small {
    margin-left: 10px;
    cursor: pointer;
}

.nx-history .nx-content .item {
    position: relative;
    padding-bottom: 10px;
}

.nx-history .nx-content .item .left {
    width: 30px;
    height: 100%;
    position: absolute;
}

.nx-history .nx-content .item .left i.icon {
    background-color: white;
}

.nx-history .nx-content .item .left .line {
    height: 100%;
    width: 3px;
    background-color: #EEEEEE;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: -1;
}

.nx-history .nx-content .item .right {
    margin-left: 30px;
}

.nx-history .nx-content .item .right .content {
    background-color: #F8F8F8;
    padding: 10px;
    border-radius: 5px;
}

.nx-history .nx-content .item .right .content .header {
    font-weight: bold;
}

.nx-history .nx-content .item .right .content .spend {
    position: absolute;
    top: 10px;
    right: 10px
}

.nx-history .nx-content .item .right .content .desc {
    margin-top: 10px;
}


/* top fixed menu start */

.nx-top-fixed-menu .nx-pp-dollar .nx-container {
    width: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nx-top-fixed-menu .nx-pp-dollar .nx-container .message {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nx-top-fixed-menu .nx-pp-dollar .nx-container .message:after {
    clear: both;
    content: '';
    display: block;
}

.nx-top-fixed-menu .nx-pp-dollar .nx-container .message .label {
    float: left;
    font-size: 1.5em;
}

.nx-top-fixed-menu .nx-pp-dollar .nx-container .message .value {
    float: right;
    font-size: 1.5em;
    font-weight: bold;
}

.nx-top-fixed-menu .nx-pp-dollar .nx-container .actions {
    text-align: center;
}

.nx-top-fixed-menu .nx-pp-dollar .nx-container .actions .item {
    display: inline-block;
    text-align: center;
}

.nx-top-fixed-menu .nx-pp-dollar .nx-container .actions .item:before {
    display: none;
}

.nx-top-fixed-menu .nx-pp-dollar .nx-container .actions .item .icon {
    width: 100%;
    margin-bottom: 10px;
}

.nx-top-fixed-menu .nx-pp-dollar .nx-container .more {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nx-top-fixed-menu.ui.top.fixed.menu {
    box-shadow: none!important;
}


/* top fixed menu end */


/* second memu start */

.nx-main-body .ui.vertical.menu {
    /* background-color: #D9DEE4; */
    background-color: #EAEDF1;
    position: absolute;
    top: 35px;
    bottom: 0;
}

.nx-main-body .ui.vertical.menu .header.item {
    background-color: #D9DEE4;
    font-size: 13px;
}

.nx-main-body .nx-second-view {
    padding-left: 180px;
    position: absolute;
    top: 47px;
    bottom: 0;
    width: 100%;
    padding-right: 180px;
}

.nx-left-sidebar-menu-labeled-icon .nx-main-body .nx-second-view {
    padding-right: 77px;
}

.nx-main-body .ui.secondary.pointing.menu a.item:hover {
    background-color: #F4F6F8;
    /* color: rgba(0, 0, 0, 0.87); */
}


/* second memu end */


/* 二级左侧菜单 start */

.nx-main-body > .ui.vertical.menu > a.item {
    padding-left: 21px;
}

.nx-main-body > .ui.vertical.menu > .accordion > .content > a.item {
    padding-left: 31px;
}

.nx-main-body > .ui.vertical.menu > .accordion {
    padding: 4px 0;
}


/* 二级左侧菜单 end */
