.nx-network-public-style .nx-toolbar .ui.search {
	float: right;
	display: none;
}

.nx-network-private-details table tr > td,
.nx-network-router-details table tr > td,
.nx-network-public-details table tr > td{
	height: 36px;
}

.nx-network-public-details .circle.icon.runing,
.nx-network-router-details .circle.icon.runing,
.nx-network-public-style .circle.icon.runing{
	color:green;
}

.nx-network-public-details .circle.icon.stoped,
.nx-network-router-details .circle.icon.stoped,
.nx-network-public-style .circle.icon.stoped
{
	color:red;
}